

.autora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #01131c;

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        padding-top: 120px;

        &__link{

            &__image{
                width: 300px;
                height: 200px;
                border-radius: 8px;
                margin: 30px 0;
            } 
        }
        

        p{
            text-align: center;
            width: 700px;
            min-height: 200px;
        }

        &__rule{
            width: 150px;
            margin: 30px 0;

            
        }
    }
}