@use "variaveis";

.autora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120vh;
    background-color: variaveis.$corTemaAutora;

    @media screen and (max-width: 767px) {
        height: 150vh;           
    }

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200vh;
        padding-top: 50px;

        &__link{

            &__image{
                width: 300px;
                height: 200px;
                border-radius: 8px;
                margin: 30px 0;
            } 
        }
        
        p{
            text-align: center;
            width: 700px;
            min-height: 200px;

            @media screen and (max-width: 767px) {
                width: 300px;   
            }
        }

        &__rule{
            width: 150px;
            margin: 30px 0;

            
        }
    }
}