

.Filmes__carousel{
    height: 200vh;
    background-image: url("../../dist/images/Hogwarts.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
    height: 0;
    
}

.background__filmes{
    height: 120vh;
    background-image: url("../../dist/images/Trovoes.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;

    box-shadow: 0px 0px 50px 50px rgba(#060606, 7);
}

.carousel{
    top: -20vh;
    height: 280px;
}
 
.carousel-inner{
    width: 480px;
    height: 550px;
}

.carousel-item{
    height: 550px;
    
}

.carousel-caption{
    height: 250px;
    width: 100%;
    left: 0;
}

.carousel-caption h2{
    margin-bottom: 20px;
}
.carousel-item img{
    width: 480px;
    height: 280px;
    border-radius: 8px;
}