@use "variaveis";

.Filmes__carousel{
    height: 250vh;
    background-image: url("../../dist/images/Hogwarts.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @media screen and (max-width: 767px) {
        height: 200vh;           
    }
}

.container{
    display: flex;
    justify-content: center;
    height: 0;
    
    @media screen and (max-width: 767px) {
        width: 320px;                    
    }
}

.background__filmes{
    height: 150vh;
    background-image: url("../../dist/images/Trovoes.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;

    box-shadow: 0px 0px 50px 50px rgba(variaveis.$corFundoTexto, 7);

    @media screen and (max-width: 767px) {
        height: 125vh;          
    }
}

.carousel{
    top: -20vh;
    height: 280px;

    @media screen and (max-width: 767px) {
        height: 200px;
        top: -20vh;                   
    }
}
 
.carousel-inner{
    width: 480px;
    height: 500px;

    @media screen and (max-width: 767px) {
        width: 300px;                  
    }
}

.carousel-item{
    height: 700px;
    
    @media screen and (max-width: 767px) {
        height: 700px;                    
    }
}

.carousel-caption{
    background-color: rgba(variaveis.$corFundoTexto, 0.7);
    border-radius: 4px;
    height: 380px;
    width: 100%;
    left: 0;

    @media screen and (max-width: 767px) {
        height: 450px;         
    }
}

.carousel-caption h2{
    margin-bottom: 20px;
}
.carousel-item img{
    width: 480px;
    height: 280px;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
        width: 300px;
        height: 200px;                    
    }
}