@use "variaveis";

.header{
    height: 95vh;
    background-image: url("../../dist/images/Harry_Potter_Baner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

    @media screen and (max-width: 767px) {
        height: 50vh;
    }

    &__Menu{
        background-color: variaveis.$corFundoMenu;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        box-shadow: 0px 0px 15px 15px rgba(variaveis.$corFundoMenu, 7);

        &__logo{
            padding-top: 50px;
            width: 250px;
            
            @media screen and (max-width: 767px) {
                width: 120px;
            }
        }

        &__links{
            padding-top: 25px;
            display: flex;

            @media screen and (max-width: 767px) {
                display: flex;
                flex-direction: column;
                background-color: variaveis.$corFundoMenu;
                opacity: 0.9;
                height: 450px;
                width: 40vw;
                margin-top: 40vh;
                display: none;
                border-radius: 4px;
            }
            
            &__item{
                display: inline-block;
                position: relative;

                @media screen and (max-width: 767px) {
                    top: 100px;
                    margin-top: 30px;
                    display: inline-block;
                }

                &__link{
                    margin-right: 50px;
                    font-size: 22px;
                    font-weight: bold;
                    text-decoration: none;
                    color: variaveis.$corDeTexto;

                    &--is-active{
                        color: variaveis.$corTema;
                    }

                    @media screen and (max-width: 767px) {
                        font-size: 18px;
                        
                    }
                }
                
                &__toggle{
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: -35px;
                    width: 50px;
                    visibility: hidden;

                    @media screen and (max-width: 767px) {
                        width: 35px;
                    }

                    &--is-active{
                        visibility: visible;
                    }
                }
            }
        }

        &__drops{
            height: 30px;
            width: 40px;
            cursor: pointer;
            margin-right: 16px;
            z-index: 11;
            visibility: hidden;

            @media screen and (max-width: 767px) {
                visibility: visible;
            }
            
            &__drop{
                background-color: variaveis.$corTema;
                height: 5px;
                margin-top: 5px;
            }
        }
    }
}
