@use "variaveis";


.header{
    height: 95vh;
    background-image: url("../../dist/images/Harry_Potter_Baner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    
    &__Menu{
        background-color: #000;
        height: 60px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;

        
        
        &__logo{
            padding-top: 50px;
            width: 250px;
            
        }

        &__links{
            padding-top: 25px;
            display: flex;
            margin-left: 5vw;

            &__item{
                display: inline-block;
                position: relative;

                &__link{
                    padding: 8px;
                    margin: 0 32px;
                    font-size: 24px;
                    font-weight: bold;
                    text-decoration: none;
                    color: variaveis.$corTextoMenu;

                    &--is-active{
                        color: variaveis.$corTextoTema;
                    }
                }
                
                &__toggle{
                    display: block;
                    position: absolute;
                    top: 10px;
                    width: 50px;
                    visibility: hidden;

                    &--is-active{
                        visibility: visible;
                    }
                }
  
            }
        }
    }
    

}
