@use "variaveis";
.livros{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    height: 80vh;
    margin-left: 50px;

    &__titulo{
        width: 150px;
        border-bottom: 3px solid variaveis.$corTextoTema;
    }

    &__itens{
        display: flex;
        justify-content: end;
        height: 200px;
        margin: 50px 0;
       
        img{
            width: 150px;
            margin-right: 20px;
            transition: 0.5s ease-in-out;
            

            &:hover{
                transform: scale(1.5);
                box-shadow: 0px 1px 10px 5px rgba(variaveis.$corTextoTema, 0.3);
                
            }
        }
    }
}